<app-text-area
  [loading]="isLoading()"
  (onClick)="generateMemes($event)"
></app-text-area>

<!-- View Memes -->
@if(memes().length > 0) {
<div class="tw-container tw-mx-auto tw-px-4 tw-py-6">
  <div class="tw-grid tw-grid-cols-1 md:tw-grid-cols-2 tw-gap-6">
    @for (meme of memes(); track meme.caption) {
    <div
      class="tw-p-4 tw-bg-white tw-rounded-lg tw-shadow-md tw-flex tw-items-center tw-justify-center"
    >
      <app-meme [meme]="meme"></app-meme>
    </div>
    }
  </div>
</div>
}
