ASPNETCORE_ENVIRONMENT=Development

# Gemini
GeminiSettings__ApiKey=
GeminiSettings__Model=gemini-2.5-flash-lite
GeminiSettings__ApiEndpoint=https://generativelanguage.googleapis.com

# Cloudflare AI
CloudflareSettings__ApiToken=
CloudflareSettings__BaseUrl=https://gateway.ai.cloudflare.com/v1/265e1e156ce3cba097a408ad67e35904/default/compat
CloudflareSettings__Model=@cf/meta/llama-3.1-8b-instruct

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Database
ConnectionStrings__DefaultConnection=Server=localhost;Database=meme_gen_db;Port=5432;User Id=postgres;Password=postgres
